services:
  sensor:
    image: goprobe/sensor:${VERSION:-latest}
    build:
      target: sensor
      context: .
    restart: unless-stopped
    container_name: sensor
    network_mode: host
    environment:
      - DB_PATH=/usr/local/goProbe/db
      - LOCAL__BUFFERS_SIZE__LIMIT=33554432
      - LOCAL__BUFFERS_NUM__BUFFERS=1
      - AUTODETECTION_ENABLED=1
      - AUTODETECTION_EXCLUDE=/br-.*/,docker0
      - API_ADDR=127.0.0.1:3005
      - API_METRICS=1
      - API_PROFILING=0
      - API_KEYS=48fd01fa8f8b12a31fdc614c27c6c273459fe7755a141e9e8deed9f65123f97d
    volumes:
      - db:/usr/local/goProbe/db

  query:
    image: goprobe/query:${VERSION:-latest}
    build:
      target: query
      context: .
    restart: unless-stopped
    container_name: query
    network_mode: host
    environment:
      - SERVER_ADDR=127.0.0.1:8146
      - HOSTS_RESOLVER_TYPE=string
      - QUERIER_TYPE=api
      - QUERIER_MAX_CONCURRENT=32
      - QUERIER_CONFIG=/app/goprobe-global-querier.yaml
    volumes:
      - ./examples/docker/querier.example.yaml:/app/goprobe-global-querier.yaml:ro

volumes:
  db:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/tmp/goprobe_db' # NOTE: Directory must exist and have read/write permissions for UID:GID 1000:1000
