---
# This file describes the necessary / optional configuration defaults to run
# goprobe v4 and its associated CLI tools goquery and gpctl (auto-detection mode)
#
# auto-detection mode will automatically detect interfaces available on the host (except for the excluded ones)
autodetection:
  # enabled turns on auto-detection of interfaces and their configuration
  enabled: true
  # exclude interfaces (or regexes for interfaces) from auto-detection
  exclude:
    - tun0
    - "/veth.*/"

##### Standard configuration options below #####
db:
  # path of the goDB database written by goprobe and read by goquery
  path: /usr/local/goProbe/db
# local_buffers sets the local buffer configuration used during rotation of a capture
local_buffers:
  # size_limit is the buffer held for packet capture during flow rotation
  # the unit is bytes
  size_limit: 67108864
  # num_buffers denotes the number of buffers (and hence maximum concurrency of Status() calls)
  # NOTE: do not change unless absolutely necessary
  num_buffers: 1
# api configures goProbe's API server for control and querying
api:
  # addr defines what the API server binds to. This may also be a unix
  # socket.
  addr: "localhost:8145"
  # profiling is enabled by default. It will only be run if one of the
  # /debug/pprof endpoints is accessed and otherwise will not have an impact
  # on performance.
  # Leaving this enabled paves the way for continuous profiling and feeding
  # such profiles back via PGO
  profiling: true
  # metrics enables scraping of metrics via /metrics endpoint
  metrics: true
# logging sets the logging parameters for goprobe
logging:
  # level info is set not to spam the logs with writeout information for interfaces
  level: info
  # encoding logfmt is chosen over json for readability reasons
  encoding: logfmt
