{
  "db": {
    "path": "/tmp/goProbe/db"
  },
  "interfaces": {
    "eth0": {
      "promisc": false,
      "ring_buffer_block_size": 1048576,
      "ring_buffer_num_blocks": 4
    }
  },
  "logging": {
    "destination": "console",
    "level": "debug"
  },
  "api": {
    "host": "192.168.1.1",
    "port": "6060",
    "request_logging": true,
    "keys": [
      "9999999999999999999999999999999999999999999999999999999999999999"
    ]
  }
}