name: CI Build / Test (Pull Request)

on:
  - pull_request

jobs:

  build-linux:
    name: Build / Test on Linux
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ^1.22
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Build for AMD64
      run: GOOS=linux GOARCH=amd64 go build -tags jsoniter -v ./...

    - name: Build for AMD64 (Production Mode)
      run: GOOS=linux GOARCH=amd64 go build -tags jsoniter,slimcap_nomock -v ./...

    - name: Build for AMD64 (No-GCO Mode)
      run: GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -tags jsoniter -v ./...

    - name: Test
      run: |
        go test -tags jsoniter -v ./... -covermode=atomic -coverprofile=coverage.out
        go tool cover -func=coverage.out -o=coverage.out

    - name: Test (No-CGO Mode)
      run: |
        CGO_ENABLED=0 go test -tags jsoniter -v ./...

    - name: Test (Production Mode)
      run: |
        go test -tags jsoniter,slimcap_nomock -v ./...

    - name: Race Detector
      run: |
        go test -tags jsoniter -race -v ./...


